img {
    float: left;
    margin: 10px;
}

.panel {
    margin: 20px;
}

.panel ul {
    overflow: auto;
}

.jumbotron {
    text-align: center;
    margin-top: 10px;
}

ul.dropdown-menu li {
    margin-left: 10px;
}

h1.title {
    color: darkolivegreen;
    font-weight: bolder;
    text-shadow: 1px 2px black;
}

.navbar.navbar-fixed-top.navbar-inverse {
    background-color: lightgrey;
}

header {
    text-align: center;
    float: right;
}

.nav.navbar-nav li {
    background-color: ivory;
}

.navbar-nav {
    color: black;
    background-color: lightgrey;
    text-align: center;
}

article>div>header {
    color: black;
    float: right;
}

article div {
    background-color: grey;
    color: white;
    border: 1px solid black;
}

article {
    padding: 20px;
    width: 200px;
    height: 200px;
    overflow: scroll;
}

article p {
    padding: 30px;
}

.container h2 {
    margin-top: 100px;
}

h2.center {
    padding: 10px;
}

h2.calamares {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: coral;
}

h2.bravas {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: gold;
}

h2.tortilla {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    color: white;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: red;
}

@media (min-width: 768px) {
    .navbar-nav {
        display: none;
    }
}
