table, tr , td{
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
color: black;

}
table{
  margin: auto;
}
td{
  min-width: 100px;
}
tr:nth-child(even){
  background-color: lightgrey;
}
tr:nth-child(odd){
  background-color: white;
}
caption {
    caption-side: bottom;
      text-align:left;
      font-style: italic;
    font-size: 10px;
}
