* {
    margin: 0px;
    padding: 0px;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup {
    display: block;
}

#cabecera {
    background: lightblue;
    border: 1px solid lightgray;
    width: 100%;
    height: 20%;
    display: table;
    padding: 10px;
}

.logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.logo img {
    height: 100px;
    width: 200px;
}

#cabecera>h1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: lightblue;
    text-transform: capitalize;
    font: bold 2em Helvetica, sans-serif;
}

body {
    text-align: center;
    margin 0;
}

#container {
    width: 960px;
    margin: 15px auto;
    text-align: left;
}

#menu {
    background: #CCCCCC;
    padding: 5px 15px;
}

#menu ul {
    display: inline-block;
    list-style-type: none;
}

#menu ul li.menu {
    float: left;
    width: 120px;
}

#menu ul li.menu:hover {
    list-style-image: url("img/flecha.png");
    list-style-position: inside;
}

#menu li.menu ul {
    display: none;
}

#menu li.menu:hover ul {
    display: block;
    position: absolute;
    background: #CCCCCC;
}

#menu ul.nivel2 li {
    float: left;
    position: relative;
    text-decoration: none;
    list-style-image: none;
    padding: 10px;
}

#menu ul.nivel2 li:hover {
    list-style-image: url("img/flecha.png");
    list-style-position: inside;
}

#menu ul.nivel2 li ul li {
    display: none;
}

#menu ul.nivel2 li:hover ul li {
    color: red;
    display: block;
}

#menu ul.nivel3 li {
    display: inline;
    float: left;
    position: relative;
    padding: 10px;
}

#menu ul.nivel3 li a {
    text-decoration: none;
    list-style-image: none;
    padding: 10px;
}

#menu ul li ul li:hover ul {
    float: left;
    display: block;
    position: relative;
    margin-left: 10px;
}

#seccion {
    float: left;
    width: 660px;
    margin: 20px;
}

#columna {
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background: #CCCCCC;
}

#columna {
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background: #CCCCCC;
}

#columna ul.nivel2 {
    display: none;
    list-style-type: square;
    list-style-position: outside;
    padding-left: 40px;
    width: 140px;
    background: #F4F4F4;
    color: green;
    list-style-image: none;
}

#columna ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 180px;
}

#columna li:hover ul {
    display: block;
}

#columna ul.nivel2 a {
    text-decoration: none;
    color: black;
}

#columna ul.nivel2>li:hover {
    display: list-item;
}

#columna li.menu {
    display: list-item;
}

#columna li.menu:hover {
    list-style-image: url("img/flecha.png");
    list-style-position: inside;
}

#pie {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}

img {
    width: 200px;
    margin: 5px;
}

article {
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 15px;
    background: linen;
}

article footer {
    text-align: right;
    color: steelblue;
    font-weight: bold;
}

article header {
    margin-top: 10px;
    margin-bottom: 10px;
}

article hgroup {
    margin-bottom: 10px;
}

time {
    color: #999999;
}

#cabecera h1 {
    font: bold 24px verdana, sans-serif;
}

article h1 {
    font: bold 20px verdana, sans-serif;
}

h2 {
    font: bold 14px verdana, sans-serif;
}

figcaption {
    font: italic 12px verdana, sans-serif;
}
